html,
body {
	min-width: 300px;
	min-height: 300px;
	max-height: 450px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.order {
	border: var(--other-color) solid 2px;
	margin-bottom: 10px;
}

.order .header {
	background-color: var(--other-color);
	color: #fff;
}

.order .footer {
	text-align: center;
	font-weight: bolder;
	color: var(--other-color);
}

.order div {
	padding: 5px;
}

.status {
	float: right;
}

.order a,
.order:hover a {
	text-decoration: none;
}
